@import url("https://fonts.googleapis.com/css2?family=Prompt&family=Ubuntu&display=swap");

body {
  background-color: #242424;
  color: white;
}


h1,
h2,
h3,
h4,
h5,
h6,
hr {
  margin: 0;
  padding: 0;
}

.root-container {
  background-color: transparent;
  margin: 0px;
  width: 350px;
  height: fit-content;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}

.main-container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.header-container {
  width: 100%;
  height: 15%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #5f5f5f;
}

.header {
  display: flex;
  gap: 5px;
  align-items: center;
}

.header img {
  width: 20px;
  height: 20px;
}

.content-container {
  width: 100%;
  height: fit-content;
  background-color: transparent;
}

.colour-picker {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.color-canvas-container {
  width: 100vw;
  height: 100%;
  background-color: transparent;
  position: relative;
}

.puck {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 3px solid #dfd3d3;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 7px;
  margin-top: -7px;
  margin-left: -7px;
  pointer-events: none;
}

.colour-slider {
  border-radius: 10px;
  position: relative;
}

.puck-slider {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 3px solid #dfd3d3;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 7px;
  margin-top: -2px;
  margin-left: -7px;
  pointer-events: none;
}

.colour-slider canvas {
  width: 100%;
  height: 10px;
  border-radius: 10px;
}

.colour-preview {
  width: 100%;
  height: 20px;
  background-color: white;
  border-radius: 3px;
}

.color-codes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  gap: 50px;
  border-top: 1px solid #5f5f5f;
}

.color-codes h4 {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: 300ms;
  padding: 5px;
}

.color-codes h4::before {
  content: "Click to copy to clipboard";
  white-space: nowrap;
  position: absolute;
  bottom: 24px;
  background-color: #00b13b;
  padding: 5px;
  border-radius: 5px;
  cursor: default;
  display: none;
}

.color-codes h4:hover::before {
  display: block;
}

.color-codes h4:active::before {
  background-color: #0fad30;
}

.color-picker-container button {
  cursor: pointer;
  height: 100%;
  border-radius: 3px;
  border-color: transparent;
  background-color: #00b13b;
  color: white;
  transition: 300ms;
}


.pallet-main-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pallet-container {
  width: 100%;
  height: fit-content;
}

.collapse-icon-container {
  width: 100%;
  height: 20px;
  
}

.collapse-icon-container h5 {
  font-size: larger;
}

.collapse-icon {
  width: fit-content;
  height: fit-content;
 
  cursor: pointer;
}

.pallet-grid-container { 
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 10px;
  grid-auto-rows: minmax(40px, auto);
}

.pallet {
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.pallet-container {
  margin-top: 10px;
}

.pallet-container-pellet {
  width: 100%;
  height: fit-content;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.404);
  align-items: center;
  margin: 0px;
  padding: 5px;
}

.pallet-container-pellet h6 {
  font-size: small;
}

.pallet-container-pellet button {
  padding: 0;
  margin: 0;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}

.pallet-container-pellet button img:hover {
  transform: scale(1.1);
  transition: 500ms;
}

.collapse {
  display: none;
}

.delBtn {
  cursor: pointer;
  border: transparent;

}

